@import "tailwindcss";

@font-face {
  font-family: 'Asrocuus';
  src: url('/fonts/SynteticAsrocuus-rvYm7.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Science';
  src: url('/fonts/science.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.science {
  font-family: 'Science', sans-serif;
}

.asrocuus {
  font-family: 'Asrocuus', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Asrocuus', sans-serif;
  font-family: 'Science', sans-serif;
  font-family: 'Arial', sans-serif;

}
